body{
    background-color: #2196f3;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    scrollbar-color: transparent;
    text-align: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}

h1{
    font-weight: bold;
}   
p{
    font-size: 1.1rem;
    line-height: 1.6;
}